.contact-section {
    display: flex;
    padding: 2rem 10%;
    justify-content: space-between;
    align-items: stretch;
}

.contact-form, .map {
    flex: 1;
}

.contact-form {
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
    padding: 2rem;
    border-radius: 10px;
    background-color: #053742;
    margin-right: 2rem;
}

.contact-form h2 {
    margin-bottom: 1rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form button {
    align-self: flex-end;
    cursor: pointer;
    padding: 0.6rem 1rem;
    background-color: #EE9520;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #EE9520;
}

.map {
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
}

.about-section {
    padding: 2rem 10%;
    text-align: center;
}

.about-section h2 {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-form, .map {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .map iframe {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-form, .map {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .map iframe {
        width: 100% !important;
    }
}

.city-tabs {
    display: flex;
    border-bottom: 2px solid #EE9520;
    margin-bottom: 1rem;
    background-color: #053742;
    list-style-type: none;
    
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    transition: background 0.3s;
    color: white;
}

.tab.active {
    background: #EE9520;
    color: black;
}

.map {
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
    background-color: #053742;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mainContent {
    opacity: 0;
    transform: translateY(2rem);
    animation: fadeInUp 0.5s forwards;
    animation-delay: 0.2s;
}